*{
	margin: 0;
	padding: 0;
}

.main{
	height: 100vh;
	width: 100%;
	background-image: url(sky.jpg);
	background-size: cover;
}

.main1{
	width: 100%;
	height: 80px;
	margin: auto;
	display: flex;
	align-items: center;
	
}

.logo{
	width: 45px;
	cursor: pointer;
	margin-left: 100px;
}

nav{
	flex: 1;
	padding-left: 60;
}

nav ul{
list-style:none;
padding:0;
margin:0;
position absolute;
}

nav ul li {
float:right;
margin-top:0px;
}

nav ul li a{
	width:150px;
    color:white;
    display:block;
    text-decoration:none;
    text-align:center;
    padding:10px;
    border-radius:10px;
    font-family:Century Gothic;
    font-weight:bold;
    a:hover{
    background:#669900;
}
}

.socialmedia{
	margin-top: 150px;
	font-family: Arial;
	font-weight: bold;
	color: white;
}


.socialmedia th, td {
  padding: 15px;
  text-align: left;
}

.socialmedia th, td, li{
	font-family: Century Gothic;
 
}

.socialmedia img{
	width: 50px;
}

.zz p{
    position: absolute;
	bottom: 15px;
	right: 700px;
	font-family: Century Gothic;
	color: plum;
	
}